
  * {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: "Copperplate", Arial;
    background-color: #a6bbe3;
}

div.top {
    width: 100%;
    background-color: #183365;
    height: 70px;
    padding: 0 40px;
    font-size: 25px;
    text-align: center;
}
div.divide{
  height: 10px;
  background-color: black;
  width: 2.5px;
}
div.mid {
  width: 100%;
  background-color: black;
  height: 2.5px;
  padding: 0 40px;
}

div.top ul,
div.top ul li{
    margin: 0;
    padding: 0 20px;
    line-height: 70px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
div.top ul li a{
  margin: 0;
  padding: 0 20px;
  line-height: 70px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: transparent;
  background-image: url("Icons/home.png");
  background-size: 100% 100%;
}
div.top ul li.picture{
  color: transparent;
  background-image: url("Icons/crow.png");
  background-size: 100% 100%;
}
div.bottom {
  width: 100%;
  background-color: #183365;
  height: 50px;
  padding: 0 40px;
  font-size: 25px;
  text-align: center;
}
div.bottom ul,
div.bottom ul li{
margin:0;
padding: 0 20px;
line-height: 50px;
list-style: none;
display: inline-block;
text-decoration: none;
color: #fff;
}
.container section {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: justify;
  margin: 10px;
}
.container.safety section{
  display: inline-block;
  width: 100%;
  max-width: 700px;
  text-align: justify;
  margin: 10px;
}
.container.dash section{
  display: inline-block;
  width: 100%;
  max-width: 700px;
  text-align: justify;
  margin: 40px;
  border: 10px solid black;
}
.center {
    text-align: center;
}
.buttons {
    display: inline-block;
    max-width: 768px;
}
div.safety{
  text-align: center;
  margin: 40px;
  font-size: 20px;
}
div.dash{
  text-align: center;
  margin: 40px;
  font-size: 40px;
}
div.page1 a,
div.page2 a,
div.page3 a,
div.page4 a{
  color:black;
  position: relative;
  top: 150px;
  text-decoration: none;
  padding-top: 150px;
}
.page1 a:hover{
color:pink;
}
.page1{
  text-align: center;
  margin-right: 40px;
  margin-left:40px;
  margin-bottom:40px;
  margin-top:10px;
  height:150px;
  width: 150px;
  background-color: transparent;
  background-image: url("Icons/crow.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 20px;
}
.page2 a:hover{
  color:pink;
  }
.page2{
  text-align: center;
  margin-right: 40px;
  margin-left:40px;
  margin-bottom:40px;
  margin-top:10px;
  height:150px;
  width: 150px;
  background-color: transparent;
  background-image: url("Icons/crow.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 20px;
}
.page3 a:hover{
  color:pink;
  }
.page3{
  text-align: center;
  margin: 40px;
  height:150px;
  width: 150px;
  background-color: transparent;
  background-image: url("Icons/crow.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 20px;
}
.page4 a:hover{
  color:pink;
  }
.page4{
  text-align: center;
  margin: 40px;
  height:150px;
  width: 150px;
  background-color: transparent;
  background-image: url("Icons/crow.png");
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 20px;
}
.bottom{
  color:white;
}
@media screen and (min-width: 768px) {
    .container .section {
        margin: 10px;
    }
}