/*graph info*/
.graph-header{
    height: 16vw;
}

.graph-info-box{
    position: absolute;
    top: 8vw;
    right: 1vw;
    height: 7vw;
    width: 40vw;
    border: 3px solid darkcyan;
}
.home-button{
    position: absolute;
    top: 8vw;
    left: 1vw;
    width: 80px;
}

/*body and main standards*/
body{
    background-color: white;
    position: relative;
    min-height: 97vh;
}

main{
    padding-bottom: 2.5em;
}

/*home page*/
#map-div{
    float: left;
    width: 650px;
    display: block-inline;
    margin: 1vw;
}

#home-div{
    float: left;
    width: 60%;
    display: block-inline;
}

.home-info{
    width: 100%;
}

#dashboard-div > p{
    font-size: 1.2em;
    border: 4px solid darkcyan;
    text-align: center;
    padding: .8vw;
}

#welcome-div > p, #safety-div > ul{
    font-size: 1.1em;
}

#safety-points > li{
    padding-bottom: .5em;
}

/*header and navigation*/
header{
    height: 8vw;
}

#home-title-link, header > h1{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: darkcyan;
    font-size: 1.8vw;
}

#home-title-link:hover, .home-button:hover{
  box-shadow: 0 0 2px 1px dodgerblue;
}

nav{
    text-align: center;
    background-color: darkcyan;
    height: 3.9vw;
}

nav > a{
    display: inline-block;
    test-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.4vw;
    margin: .18vw 2vw;
    width: 15vw;
}

nav > a:hover {
  box-shadow: 0 0 4px 1px white;
}
